-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: proyectosDB
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `actividad_proyecto`
--

DROP TABLE IF EXISTS `actividad_proyecto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividad_proyecto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requerimiento_id` int NOT NULL,
  `edt` varchar(50) NOT NULL,
  `nombre_tarea` varchar(500) NOT NULL,
  `nivel_esquema` int NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `duracion` int NOT NULL,
  `dias_corridos` int DEFAULT NULL,
  `predecesoras` text,
  `recursos` text,
  `progreso` decimal(5,2) NOT NULL,
  `datos_adicionales` json DEFAULT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_actividad_proyecto_edt` (`requerimiento_id`,`edt`),
  KEY `idx_actividad_proyecto_requerimiento` (`requerimiento_id`),
  KEY `idx_actividad_proyecto_fecha_inicio` (`fecha_inicio`),
  KEY `idx_actividad_proyecto_fecha_fin` (`fecha_fin`),
  CONSTRAINT `actividad_proyecto_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividad_proyecto`
--

LOCK TABLES `actividad_proyecto` WRITE;
/*!40000 ALTER TABLE `actividad_proyecto` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividad_proyecto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `actividades_gantt`
--

DROP TABLE IF EXISTS `actividades_gantt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `actividades_gantt` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requerimiento_id` int NOT NULL,
  `edt` varchar(50) NOT NULL,
  `nombre_tarea` varchar(255) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `duracion` int NOT NULL,
  `progreso` float DEFAULT NULL,
  `nivel_esquema` int DEFAULT NULL,
  `predecesoras` varchar(255) DEFAULT NULL,
  `recursos_originales` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_actividades_gantt_req_edt` (`requerimiento_id`,`edt`),
  KEY `idx_actividades_gantt_requerimiento` (`requerimiento_id`),
  KEY `idx_actividades_gantt_edt` (`edt`),
  KEY `idx_actividades_gantt_fecha_inicio` (`fecha_inicio`),
  KEY `idx_actividades_gantt_fecha_fin` (`fecha_fin`),
  CONSTRAINT `actividades_gantt_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `actividades_gantt`
--

LOCK TABLES `actividades_gantt` WRITE;
/*!40000 ALTER TABLE `actividades_gantt` DISABLE KEYS */;
/*!40000 ALTER TABLE `actividades_gantt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `administrador_recinto`
--

DROP TABLE IF EXISTS `administrador_recinto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrador_recinto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `administrador_id` int NOT NULL,
  `recinto_id` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `_administrador_recinto_uc` (`administrador_id`,`recinto_id`),
  KEY `recinto_id` (`recinto_id`),
  CONSTRAINT `administrador_recinto_ibfk_1` FOREIGN KEY (`administrador_id`) REFERENCES `trabajador` (`id`),
  CONSTRAINT `administrador_recinto_ibfk_2` FOREIGN KEY (`recinto_id`) REFERENCES `recinto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrador_recinto`
--

LOCK TABLES `administrador_recinto` WRITE;
/*!40000 ALTER TABLE `administrador_recinto` DISABLE KEYS */;
/*!40000 ALTER TABLE `administrador_recinto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `area`
--

DROP TABLE IF EXISTS `area`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `area` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_area_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `area`
--

LOCK TABLES `area` WRITE;
/*!40000 ALTER TABLE `area` DISABLE KEYS */;
INSERT INTO `area` VALUES (1,'Administración','Área de administración general',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(2,'SuperAdmin','Primeras personas administradores de la app',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(3,'SECOPLAC','Personas encargadas de SECOPLAC',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(4,'DOM','Personas encargadas de DOM',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(5,'SALUD','Área de gestión de salud',1,'2025-10-21 13:28:05','2025-10-21 13:28:05');
/*!40000 ALTER TABLE `area` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `avance_actividad`
--

DROP TABLE IF EXISTS `avance_actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `avance_actividad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requerimiento_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `actividad_id` int DEFAULT NULL,
  `porcentaje_asignacion` float DEFAULT NULL,
  `progreso_actual` float DEFAULT NULL,
  `progreso_anterior` float DEFAULT NULL,
  `fecha_registro` date NOT NULL,
  `fecha_creacion` datetime DEFAULT NULL,
  `fecha_actualizacion` datetime DEFAULT NULL,
  `observaciones` text,
  PRIMARY KEY (`id`),
  KEY `requerimiento_id` (`requerimiento_id`),
  KEY `trabajador_id` (`trabajador_id`),
  KEY `actividad_id` (`actividad_id`),
  CONSTRAINT `avance_actividad_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`),
  CONSTRAINT `avance_actividad_ibfk_2` FOREIGN KEY (`trabajador_id`) REFERENCES `trabajador` (`id`),
  CONSTRAINT `avance_actividad_ibfk_3` FOREIGN KEY (`actividad_id`) REFERENCES `actividad_proyecto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `avance_actividad`
--

LOCK TABLES `avance_actividad` WRITE;
/*!40000 ALTER TABLE `avance_actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `avance_actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `color` varchar(20) NOT NULL,
  `description` text,
  `display_order` int NOT NULL,
  `icon` varchar(100) NOT NULL,
  `is_visible` tinyint(1) NOT NULL,
  `parent_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `parent_id` (`parent_id`),
  CONSTRAINT `categories_ibfk_1` FOREIGN KEY (`parent_id`) REFERENCES `categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custom_roles`
--

DROP TABLE IF EXISTS `custom_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `custom_roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` text,
  `active` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custom_roles`
--

LOCK TABLES `custom_roles` WRITE;
/*!40000 ALTER TABLE `custom_roles` DISABLE KEYS */;
INSERT INTO `custom_roles` VALUES (1,'ADMIN','Administrador con permisos amplios pero limitados',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(2,'CONTROL','Control de Proyectos con permisos básicos de control',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(3,'USUARIO','Usuario Operativo con acceso a funcionalidades básicas',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(4,'LECTOR','Usuario con permisos mínimos de solo lectura',1,'2025-10-21 13:28:05','2025-10-21 13:28:05');
/*!40000 ALTER TABLE `custom_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipo`
--

DROP TABLE IF EXISTS `equipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_equipo_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipo`
--

LOCK TABLES `equipo` WRITE;
/*!40000 ALTER TABLE `equipo` DISABLE KEYS */;
INSERT INTO `equipo` VALUES (1,'Equipo 1',NULL,1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(2,'Equipo 2',NULL,1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(3,'Equipo 3',NULL,1,'2025-10-21 13:28:05','2025-10-21 13:28:05');
/*!40000 ALTER TABLE `equipo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `equipotrabajo`
--

DROP TABLE IF EXISTS `equipotrabajo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `equipotrabajo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_requerimiento` int NOT NULL,
  `id_trabajador` int NOT NULL,
  `id_especialidad` int NOT NULL,
  `fecha_asignacion` datetime NOT NULL,
  `fecha_desasignacion` datetime DEFAULT NULL,
  `activo` tinyint(1) NOT NULL,
  `observaciones` text,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_equipo_req_trab_esp` (`id_requerimiento`,`id_trabajador`,`id_especialidad`),
  KEY `idx_equipo_especialidad` (`id_especialidad`),
  KEY `idx_equipo_requerimiento` (`id_requerimiento`),
  KEY `idx_equipo_fecha_asignacion` (`fecha_asignacion`),
  KEY `idx_equipo_trabajador` (`id_trabajador`),
  CONSTRAINT `equipotrabajo_ibfk_1` FOREIGN KEY (`id_requerimiento`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `equipotrabajo_ibfk_2` FOREIGN KEY (`id_trabajador`) REFERENCES `trabajador` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `equipotrabajo_ibfk_3` FOREIGN KEY (`id_especialidad`) REFERENCES `especialidad` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `equipotrabajo`
--

LOCK TABLES `equipotrabajo` WRITE;
/*!40000 ALTER TABLE `equipotrabajo` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipotrabajo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `especialidad`
--

DROP TABLE IF EXISTS `especialidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `especialidad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_especialidad_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `especialidad`
--

LOCK TABLES `especialidad` WRITE;
/*!40000 ALTER TABLE `especialidad` DISABLE KEYS */;
INSERT INTO `especialidad` VALUES (1,'Formulador','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(2,'Arquitecto','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(3,'Ing. Electrico','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(4,'Ing. Civil','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(5,'Ing. Constructor','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05');
/*!40000 ALTER TABLE `especialidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estado`
--

DROP TABLE IF EXISTS `estado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estado` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_estado_nombre` (`nombre`),
  KEY `idx_estado_activo` (`activo`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estado`
--

LOCK TABLES `estado` WRITE;
/*!40000 ALTER TABLE `estado` DISABLE KEYS */;
/*!40000 ALTER TABLE `estado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapa`
--

DROP TABLE IF EXISTS `etapa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapa` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_tipologia` int NOT NULL,
  `financiamiento` tinyint(1) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_etapa_nombre_tipologia` (`nombre`,`id_tipologia`),
  KEY `idx_etapa_financiamiento` (`financiamiento`),
  KEY `idx_etapa_tipologia` (`id_tipologia`),
  CONSTRAINT `etapa_ibfk_1` FOREIGN KEY (`id_tipologia`) REFERENCES `tipologia` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapa`
--

LOCK TABLES `etapa` WRITE;
/*!40000 ALTER TABLE `etapa` DISABLE KEYS */;
INSERT INTO `etapa` VALUES (1,'Etapa Inicial',NULL,1,0,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `etapa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapan1`
--

DROP TABLE IF EXISTS `etapan1`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapan1` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_etapan1_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapan1`
--

LOCK TABLES `etapan1` WRITE;
/*!40000 ALTER TABLE `etapan1` DISABLE KEYS */;
INSERT INTO `etapan1` VALUES (1,'Preparación','Etapa de preparación del proyecto',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'Licitación','Etapa de licitación del proyecto',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'Ejecución','Etapa de ejecución del proyecto',1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `etapan1` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapan2`
--

DROP TABLE IF EXISTS `etapan2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapan2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_etapaN1` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_etapan2_nombre_etapan1` (`nombre`,`id_etapaN1`),
  KEY `idx_etapan2_etapan1` (`id_etapaN1`),
  CONSTRAINT `etapan2_ibfk_1` FOREIGN KEY (`id_etapaN1`) REFERENCES `etapan1` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapan2`
--

LOCK TABLES `etapan2` WRITE;
/*!40000 ALTER TABLE `etapan2` DISABLE KEYS */;
INSERT INTO `etapan2` VALUES (1,'Formulación','Formulación del proyecto',1,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'Proceso Licitación','Proceso de licitación',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'Ejecución OOCC','Ejecución de obras civiles',3,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `etapan2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapan3`
--

DROP TABLE IF EXISTS `etapan3`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapan3` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_etapaN2` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_etapan3_nombre_etapan2` (`nombre`,`id_etapaN2`),
  KEY `idx_etapan3_etapan2` (`id_etapaN2`),
  CONSTRAINT `etapan3_ibfk_1` FOREIGN KEY (`id_etapaN2`) REFERENCES `etapan2` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapan3`
--

LOCK TABLES `etapan3` WRITE;
/*!40000 ALTER TABLE `etapan3` DISABLE KEYS */;
INSERT INTO `etapan3` VALUES (1,'Diseño Arquitectónico','Diseño arquitectónico del proyecto',1,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'Bases Licitación','Preparación de bases de licitación',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'Obra Gruesa','Construcción obra gruesa',3,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `etapan3` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etapan4`
--

DROP TABLE IF EXISTS `etapan4`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etapan4` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_etapaN3` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_etapan4_nombre_etapan3` (`nombre`,`id_etapaN3`),
  KEY `idx_etapan4_etapan3` (`id_etapaN3`),
  CONSTRAINT `etapan4_ibfk_1` FOREIGN KEY (`id_etapaN3`) REFERENCES `etapan3` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etapan4`
--

LOCK TABLES `etapan4` WRITE;
/*!40000 ALTER TABLE `etapan4` DISABLE KEYS */;
INSERT INTO `etapan4` VALUES (1,'Planos Arquitectura','Elaboración de planos de arquitectura',1,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'Especificaciones Técnicas','Elaboración de especificaciones técnicas',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'Fundaciones','Construcción de fundaciones',3,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `etapan4` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fase`
--

DROP TABLE IF EXISTS `fase`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fase` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_fase_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fase`
--

LOCK TABLES `fase` WRITE;
/*!40000 ALTER TABLE `fase` DISABLE KEYS */;
INSERT INTO `fase` VALUES (1,'Por Definir','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(2,'Preinversión','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(3,'Inversión','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05'),(4,'Operación','',1,'2025-10-21 13:28:05','2025-10-21 13:28:05');
/*!40000 ALTER TABLE `fase` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `financiamiento`
--

DROP TABLE IF EXISTS `financiamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `financiamiento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_financiamiento_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `financiamiento`
--

LOCK TABLES `financiamiento` WRITE;
/*!40000 ALTER TABLE `financiamiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `financiamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gantt_archivo`
--

DROP TABLE IF EXISTS `gantt_archivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gantt_archivo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_requerimiento` int NOT NULL,
  `archivo` blob NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `tipo_archivo` varchar(50) NOT NULL,
  `tamano_archivo` int NOT NULL,
  `fecha_subida` datetime NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_gantt_requerimiento` (`id_requerimiento`),
  CONSTRAINT `gantt_archivo_ibfk_1` FOREIGN KEY (`id_requerimiento`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gantt_archivo`
--

LOCK TABLES `gantt_archivo` WRITE;
/*!40000 ALTER TABLE `gantt_archivo` DISABLE KEYS */;
/*!40000 ALTER TABLE `gantt_archivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grupo`
--

DROP TABLE IF EXISTS `grupo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `grupo` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_grupo_nombre` (`nombre`),
  KEY `idx_grupo_activo` (`activo`),
  KEY `idx_grupo_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grupo`
--

LOCK TABLES `grupo` WRITE;
/*!40000 ALTER TABLE `grupo` DISABLE KEYS */;
INSERT INTO `grupo` VALUES (1,'Grupo 1',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'Grupo 2',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'Grupo 3',1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `grupo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_avance_actividad`
--

DROP TABLE IF EXISTS `historial_avance_actividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_avance_actividad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requerimiento_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `actividad_id` int NOT NULL,
  `progreso_anterior` float NOT NULL,
  `progreso_nuevo` float NOT NULL,
  `diferencia` float NOT NULL,
  `comentarios` text,
  `fecha_cambio` datetime NOT NULL,
  `sesion_guardado` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `requerimiento_id` (`requerimiento_id`),
  KEY `trabajador_id` (`trabajador_id`),
  KEY `actividad_id` (`actividad_id`),
  CONSTRAINT `historial_avance_actividad_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`),
  CONSTRAINT `historial_avance_actividad_ibfk_2` FOREIGN KEY (`trabajador_id`) REFERENCES `trabajador` (`id`),
  CONSTRAINT `historial_avance_actividad_ibfk_3` FOREIGN KEY (`actividad_id`) REFERENCES `actividad_proyecto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_avance_actividad`
--

LOCK TABLES `historial_avance_actividad` WRITE;
/*!40000 ALTER TABLE `historial_avance_actividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_avance_actividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_control`
--

DROP TABLE IF EXISTS `historial_control`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_control` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sesion_subida` varchar(50) NOT NULL,
  `fecha_operacion` datetime NOT NULL,
  `nombre_archivo` varchar(255) NOT NULL,
  `actividad_id` int NOT NULL,
  `requerimiento_id` int NOT NULL,
  `tipo_operacion` varchar(20) NOT NULL,
  `datos_anteriores` json DEFAULT NULL,
  `datos_nuevos` json NOT NULL,
  `fila_excel` int NOT NULL,
  `comentarios` text,
  PRIMARY KEY (`id`),
  KEY `requerimiento_id` (`requerimiento_id`),
  KEY `idx_historial_control_sesion` (`sesion_subida`),
  KEY `idx_historial_control_actividad` (`actividad_id`),
  KEY `idx_historial_control_fecha` (`fecha_operacion`),
  CONSTRAINT `historial_control_ibfk_1` FOREIGN KEY (`actividad_id`) REFERENCES `actividad_proyecto` (`id`),
  CONSTRAINT `historial_control_ibfk_2` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_control`
--

LOCK TABLES `historial_control` WRITE;
/*!40000 ALTER TABLE `historial_control` DISABLE KEYS */;
/*!40000 ALTER TABLE `historial_control` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_configuration`
--

DROP TABLE IF EXISTS `menu_configuration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu_configuration` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sidebar_collapsed` tinyint(1) NOT NULL,
  `theme` varchar(20) NOT NULL,
  `menu_style` varchar(20) NOT NULL,
  `show_icons` tinyint(1) NOT NULL,
  `show_badges` tinyint(1) NOT NULL,
  `custom_css` text,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_configuration`
--

LOCK TABLES `menu_configuration` WRITE;
/*!40000 ALTER TABLE `menu_configuration` DISABLE KEYS */;
INSERT INTO `menu_configuration` VALUES (1,0,'light','vertical',1,1,NULL,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `menu_configuration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observacion_requerimiento`
--

DROP TABLE IF EXISTS `observacion_requerimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `observacion_requerimiento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_requerimiento` int NOT NULL,
  `observacion` text NOT NULL,
  `fecha_registro` datetime NOT NULL,
  `id_usuario` int NOT NULL,
  `pagina_origen` varchar(100) NOT NULL,
  `tipo_evento` enum('requerimiento','aceptado','rechazado','completado','proyecto_aceptado','proyecto_rechazado','obs_control','finalizado') NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_observacion_requerimiento` (`id_requerimiento`),
  KEY `idx_observacion_fecha` (`fecha_registro`),
  KEY `idx_observacion_usuario` (`id_usuario`),
  KEY `idx_observacion_tipo` (`tipo_evento`),
  CONSTRAINT `observacion_requerimiento_ibfk_1` FOREIGN KEY (`id_requerimiento`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `observacion_requerimiento_ibfk_2` FOREIGN KEY (`id_usuario`) REFERENCES `trabajador` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observacion_requerimiento`
--

LOCK TABLES `observacion_requerimiento` WRITE;
/*!40000 ALTER TABLE `observacion_requerimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `observacion_requerimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `page_permissions`
--

DROP TABLE IF EXISTS `page_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `page_permissions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `page_id` int NOT NULL,
  `system_role` enum('SUPERADMIN') DEFAULT NULL,
  `custom_role_id` int DEFAULT NULL,
  `role_name` varchar(50) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_page_permission_name` (`page_id`,`role_name`),
  KEY `custom_role_id` (`custom_role_id`),
  CONSTRAINT `page_permissions_ibfk_1` FOREIGN KEY (`page_id`) REFERENCES `pages` (`id`),
  CONSTRAINT `page_permissions_ibfk_2` FOREIGN KEY (`custom_role_id`) REFERENCES `custom_roles` (`id`),
  CONSTRAINT `ck_permission_role_type` CHECK ((((`system_role` is not null) and (`custom_role_id` is null)) or ((`system_role` is null) and (`custom_role_id` is not null))))
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `page_permissions`
--

LOCK TABLES `page_permissions` WRITE;
/*!40000 ALTER TABLE `page_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `page_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pages`
--

DROP TABLE IF EXISTS `pages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pages` (
  `id` int NOT NULL AUTO_INCREMENT,
  `route` varchar(200) NOT NULL,
  `name` varchar(200) NOT NULL,
  `description` text,
  `category_id` int NOT NULL,
  `template_path` varchar(300) DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `display_order` int NOT NULL,
  `icon` varchar(100) NOT NULL,
  `is_visible` tinyint(1) NOT NULL,
  `parent_page_id` int DEFAULT NULL,
  `menu_group` varchar(100) DEFAULT NULL,
  `external_url` varchar(500) DEFAULT NULL,
  `target_blank` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `route` (`route`),
  KEY `category_id` (`category_id`),
  KEY `parent_page_id` (`parent_page_id`),
  CONSTRAINT `pages_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `pages_ibfk_2` FOREIGN KEY (`parent_page_id`) REFERENCES `pages` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pages`
--

LOCK TABLES `pages` WRITE;
/*!40000 ALTER TABLE `pages` DISABLE KEYS */;
/*!40000 ALTER TABLE `pages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prioridad`
--

DROP TABLE IF EXISTS `prioridad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prioridad` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `urgencia` tinyint(1) NOT NULL,
  `importancia` tinyint(1) NOT NULL,
  `cuadrante` int NOT NULL,
  `color` varchar(7) NOT NULL,
  `orden` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_prioridad_nombre` (`nombre`),
  KEY `idx_prioridad_orden` (`orden`),
  KEY `idx_prioridad_cuadrante` (`cuadrante`),
  CONSTRAINT `ck_prioridad_cuadrante` CHECK (((`cuadrante` >= 1) and (`cuadrante` <= 4))),
  CONSTRAINT `ck_prioridad_orden` CHECK ((`orden` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prioridad`
--

LOCK TABLES `prioridad` WRITE;
/*!40000 ALTER TABLE `prioridad` DISABLE KEYS */;
/*!40000 ALTER TABLE `prioridad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recinto`
--

DROP TABLE IF EXISTS `recinto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recinto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_tiporecinto` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_recinto_nombre_tiporecinto` (`nombre`,`id_tiporecinto`),
  KEY `idx_recinto_tiporecinto` (`id_tiporecinto`),
  KEY `idx_recinto_activo` (`activo`),
  CONSTRAINT `recinto_ibfk_1` FOREIGN KEY (`id_tiporecinto`) REFERENCES `tiporecinto` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recinto`
--

LOCK TABLES `recinto` WRITE;
/*!40000 ALTER TABLE `recinto` DISABLE KEYS */;
INSERT INTO `recinto` VALUES (1,'CESFAM La Tortuga','Centro de Salud Familiar La Tortuga',1,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'CECOSF El Boro','Centro Comunitario El Boro',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'SAPU Dr. H├â┬®ctor Reyno','Servicio de Atenci├â┬│n Primaria',3,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(4,'Oficinas DEPSA','Oficinas del Departamento de Salud',5,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `recinto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recursos_trabajador`
--

DROP TABLE IF EXISTS `recursos_trabajador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recursos_trabajador` (
  `id` int NOT NULL AUTO_INCREMENT,
  `requerimiento_id` int NOT NULL,
  `actividad_gantt_id` int NOT NULL,
  `edt` varchar(50) NOT NULL,
  `fecha_asignacion` datetime DEFAULT NULL,
  `recurso` varchar(255) NOT NULL,
  `id_trabajador` int NOT NULL,
  `porcentaje_asignacion` float DEFAULT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_recurso_trabajador_edt` (`edt`),
  KEY `idx_recurso_trabajador_trabajador` (`id_trabajador`),
  KEY `idx_recurso_trabajador_unique` (`actividad_gantt_id`,`id_trabajador`),
  KEY `idx_recurso_trabajador_requerimiento` (`requerimiento_id`),
  CONSTRAINT `recursos_trabajador_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recursos_trabajador_ibfk_2` FOREIGN KEY (`actividad_gantt_id`) REFERENCES `actividades_gantt` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recursos_trabajador_ibfk_3` FOREIGN KEY (`id_trabajador`) REFERENCES `trabajador` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recursos_trabajador`
--

LOCK TABLES `recursos_trabajador` WRITE;
/*!40000 ALTER TABLE `recursos_trabajador` DISABLE KEYS */;
/*!40000 ALTER TABLE `recursos_trabajador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requerimiento`
--

DROP TABLE IF EXISTS `requerimiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requerimiento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `fecha` datetime NOT NULL,
  `descripcion` text,
  `observacion` text,
  `id_sector` int NOT NULL,
  `id_tiporecinto` int NOT NULL,
  `id_recinto` int NOT NULL,
  `id_estado` int NOT NULL,
  `id_prioridad` int DEFAULT NULL,
  `id_grupo` int DEFAULT NULL,
  `id_area` int DEFAULT NULL,
  `fecha_aceptacion` datetime DEFAULT NULL,
  `id_tipologia` int DEFAULT NULL,
  `id_financiamiento` int DEFAULT NULL,
  `id_tipoproyecto` int DEFAULT NULL,
  `proyecto` varchar(50) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `id_tiporecinto` (`id_tiporecinto`),
  KEY `id_recinto` (`id_recinto`),
  KEY `id_grupo` (`id_grupo`),
  KEY `id_area` (`id_area`),
  KEY `id_tipologia` (`id_tipologia`),
  KEY `id_financiamiento` (`id_financiamiento`),
  KEY `id_tipoproyecto` (`id_tipoproyecto`),
  KEY `idx_requerimiento_sector` (`id_sector`),
  KEY `idx_requerimiento_fecha` (`fecha`),
  KEY `idx_requerimiento_estado` (`id_estado`),
  KEY `idx_requerimiento_prioridad` (`id_prioridad`),
  CONSTRAINT `requerimiento_ibfk_1` FOREIGN KEY (`id_sector`) REFERENCES `sector` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_10` FOREIGN KEY (`id_tipoproyecto`) REFERENCES `tipoproyecto` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_2` FOREIGN KEY (`id_tiporecinto`) REFERENCES `tiporecinto` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_3` FOREIGN KEY (`id_recinto`) REFERENCES `recinto` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_4` FOREIGN KEY (`id_estado`) REFERENCES `estado` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_5` FOREIGN KEY (`id_prioridad`) REFERENCES `prioridad` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_6` FOREIGN KEY (`id_grupo`) REFERENCES `grupo` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_7` FOREIGN KEY (`id_area`) REFERENCES `area` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_8` FOREIGN KEY (`id_tipologia`) REFERENCES `tipologia` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `requerimiento_ibfk_9` FOREIGN KEY (`id_financiamiento`) REFERENCES `financiamiento` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requerimiento`
--

LOCK TABLES `requerimiento` WRITE;
/*!40000 ALTER TABLE `requerimiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `requerimiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requerimiento_trabajador_especialidad`
--

DROP TABLE IF EXISTS `requerimiento_trabajador_especialidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `requerimiento_trabajador_especialidad` (
  `requerimiento_id` int NOT NULL,
  `trabajador_id` int NOT NULL,
  `especialidad_id` int NOT NULL,
  `fecha_asignacion` datetime NOT NULL,
  `activo` tinyint(1) NOT NULL,
  PRIMARY KEY (`requerimiento_id`,`trabajador_id`,`especialidad_id`),
  KEY `trabajador_id` (`trabajador_id`),
  KEY `especialidad_id` (`especialidad_id`),
  CONSTRAINT `requerimiento_trabajador_especialidad_ibfk_1` FOREIGN KEY (`requerimiento_id`) REFERENCES `requerimiento` (`id`) ON DELETE CASCADE,
  CONSTRAINT `requerimiento_trabajador_especialidad_ibfk_2` FOREIGN KEY (`trabajador_id`) REFERENCES `trabajador` (`id`) ON DELETE CASCADE,
  CONSTRAINT `requerimiento_trabajador_especialidad_ibfk_3` FOREIGN KEY (`especialidad_id`) REFERENCES `especialidad` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requerimiento_trabajador_especialidad`
--

LOCK TABLES `requerimiento_trabajador_especialidad` WRITE;
/*!40000 ALTER TABLE `requerimiento_trabajador_especialidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `requerimiento_trabajador_especialidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sector`
--

DROP TABLE IF EXISTS `sector`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sector` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_sector_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sector`
--

LOCK TABLES `sector` WRITE;
/*!40000 ALTER TABLE `sector` DISABLE KEYS */;
INSERT INTO `sector` VALUES (1,'MUNICIPAL','',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'SALUD','',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'CEMENTERIO','',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(4,'EDUCACION','',1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(5,'OTRO','',1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `sector` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipologia`
--

DROP TABLE IF EXISTS `tipologia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipologia` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `nombrecorto` varchar(50) DEFAULT NULL,
  `descripcion` text,
  `id_fase` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tipologia_nombre_fase` (`nombre`,`id_fase`),
  KEY `idx_tipologia_fase` (`id_fase`),
  KEY `idx_tipologia_activo` (`activo`),
  CONSTRAINT `tipologia_ibfk_1` FOREIGN KEY (`id_fase`) REFERENCES `fase` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipologia`
--

LOCK TABLES `tipologia` WRITE;
/*!40000 ALTER TABLE `tipologia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipologia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoproyecto`
--

DROP TABLE IF EXISTS `tipoproyecto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoproyecto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `nombrecorto` varchar(50) DEFAULT NULL,
  `descripcion` text,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tipoproyecto_nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoproyecto`
--

LOCK TABLES `tipoproyecto` WRITE;
/*!40000 ALTER TABLE `tipoproyecto` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipoproyecto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiporecinto`
--

DROP TABLE IF EXISTS `tiporecinto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiporecinto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text,
  `id_sector` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tiporecinto_nombre_sector` (`nombre`,`id_sector`),
  KEY `idx_tiporecinto_sector` (`id_sector`),
  KEY `idx_tiporecinto_activo` (`activo`),
  CONSTRAINT `tiporecinto_ibfk_1` FOREIGN KEY (`id_sector`) REFERENCES `sector` (`id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiporecinto`
--

LOCK TABLES `tiporecinto` WRITE;
/*!40000 ALTER TABLE `tiporecinto` DISABLE KEYS */;
INSERT INTO `tiporecinto` VALUES (1,'CESFAM','Centro de Salud Familiar',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(2,'CECOSF','Centro Comunitario de Salud Familiar',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(3,'SAPU','Servicio de Atenci├â┬│n Primaria de Urgencia',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(4,'SAR','Servicio de Alta Resoluci├â┬│n',2,1,'2025-10-21 13:28:06','2025-10-21 13:28:06'),(5,'ED. CONSISTORIAL','Edificio Consistorial',1,1,'2025-10-21 13:28:06','2025-10-21 13:28:06');
/*!40000 ALTER TABLE `tiporecinto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabajador`
--

DROP TABLE IF EXISTS `trabajador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajador` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `rut` varchar(12) DEFAULT NULL,
  `profesion` varchar(255) DEFAULT NULL,
  `nombrecorto` varchar(50) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `activo` tinyint(1) NOT NULL,
  `rol` enum('SUPERADMIN') DEFAULT NULL,
  `custom_role_id` int DEFAULT NULL,
  `ultimo_acceso` datetime DEFAULT NULL,
  `intentos_fallidos` int NOT NULL,
  `bloqueado_hasta` datetime DEFAULT NULL,
  `area_id` int DEFAULT NULL,
  `sector_id` int DEFAULT NULL,
  `recinto_id` int DEFAULT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_trabajador_nombre` (`nombre`),
  UNIQUE KEY `uq_trabajador_email` (`email`),
  UNIQUE KEY `uq_trabajador_rut` (`rut`),
  UNIQUE KEY `email` (`email`),
  KEY `custom_role_id` (`custom_role_id`),
  KEY `sector_id` (`sector_id`),
  KEY `recinto_id` (`recinto_id`),
  KEY `idx_trabajador_email` (`email`),
  KEY `idx_trabajador_profesion` (`profesion`),
  KEY `idx_trabajador_rut` (`rut`),
  KEY `idx_trabajador_area` (`area_id`),
  KEY `idx_trabajador_rol` (`rol`),
  KEY `idx_trabajador_activo` (`activo`),
  CONSTRAINT `trabajador_ibfk_1` FOREIGN KEY (`custom_role_id`) REFERENCES `custom_roles` (`id`),
  CONSTRAINT `trabajador_ibfk_2` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trabajador_ibfk_3` FOREIGN KEY (`sector_id`) REFERENCES `sector` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trabajador_ibfk_4` FOREIGN KEY (`recinto_id`) REFERENCES `recinto` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabajador`
--

LOCK TABLES `trabajador` WRITE;
/*!40000 ALTER TABLE `trabajador` DISABLE KEYS */;
/*!40000 ALTER TABLE `trabajador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabajador_areas`
--

DROP TABLE IF EXISTS `trabajador_areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajador_areas` (
  `trabajador_id` int NOT NULL,
  `area_id` int NOT NULL,
  `fecha_asignacion` datetime NOT NULL,
  `activo` tinyint(1) NOT NULL,
  PRIMARY KEY (`trabajador_id`,`area_id`),
  KEY `idx_trabajador_areas_area` (`area_id`),
  KEY `idx_trabajador_areas_activo` (`activo`),
  KEY `idx_trabajador_areas_trabajador` (`trabajador_id`),
  CONSTRAINT `trabajador_areas_ibfk_1` FOREIGN KEY (`trabajador_id`) REFERENCES `trabajador` (`id`) ON DELETE CASCADE,
  CONSTRAINT `trabajador_areas_ibfk_2` FOREIGN KEY (`area_id`) REFERENCES `area` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabajador_areas`
--

LOCK TABLES `trabajador_areas` WRITE;
/*!40000 ALTER TABLE `trabajador_areas` DISABLE KEYS */;
/*!40000 ALTER TABLE `trabajador_areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trabajador_recinto`
--

DROP TABLE IF EXISTS `trabajador_recinto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trabajador_recinto` (
  `id` int NOT NULL AUTO_INCREMENT,
  `trabajador_id` int NOT NULL,
  `recinto_id` int NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `_trabajador_recinto_uc` (`trabajador_id`,`recinto_id`),
  KEY `recinto_id` (`recinto_id`),
  CONSTRAINT `trabajador_recinto_ibfk_1` FOREIGN KEY (`trabajador_id`) REFERENCES `trabajador` (`id`),
  CONSTRAINT `trabajador_recinto_ibfk_2` FOREIGN KEY (`recinto_id`) REFERENCES `recinto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trabajador_recinto`
--

LOCK TABLES `trabajador_recinto` WRITE;
/*!40000 ALTER TABLE `trabajador_recinto` DISABLE KEYS */;
/*!40000 ALTER TABLE `trabajador_recinto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'proyectosDB'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-03 14:44:48
