{% extends 'bases/base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
  <div class="col-md-12">
    <h1 class="text-center fw-bold">Contacto<hr></h1>
    <form method="POST" action="/contacto">
      <div class="form-group">
        <label for="estado">Sector:</label>
        <select class="form-control" id="sector" name="sector">
          {% for sector in sectores %}
            <option value="{{ sector.id }}">{{ sector.nombre }}</option>
          {% endfor %}
        </select>

        <label for="estado">Estado:</label>
        <select class="form-control" id="estado" name="estado">
          {% for estado in estados %}
            <option value="{{ estado.id }}">{{ estado.nombre }}</option>
          {% endfor %}
        </select>

        <label for="estado">Recinto:</label>
        <select class="form-control" id="recinto" name="recinto">
          {% for recinto in recintos %}
            <option value="{{ recinto.id }}">{{ recinto.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
  </div>
{% endblock %}